/* Composition information */
/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC
font-family: 'Montserrat', sans-serif; */

* {
  font-family: 'Montserrat', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #2B2733;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: center;
  background-color: #46424D;
}

#page-title {
  color: #FFF;
}

.activity-title {
  color: #FFF;
}

#new-activity {
  margin-left: 38px;
}

#past-activities {
  margin-left: 32px;
}

.activity-presenter {
  float: left;
  min-height: 100vh;
  width: 65%;
  border-right: 3px solid #46424D;
}

#user-activity-input {
  margin-left: 37px;
  height: 75.5vh;
  width: 92.5%;
  background-color: #46424D;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #26222D;
}

#category {
  padding-top: 5%;
  padding-left: 10.5%;
}

.selector-box {
  display: flex;
  justify-content: space-evenly;
}

.category-choices {
  font-size: 19px;
  color: #FFF;
}

.button-title {
  font-size: 16px;
  margin-top: 3px;
}

.activity-button {
  background-color: #46424D;
  border: 2px solid #FFF;
  color: #FFF;
  border-radius: 4px;
}

.activity-button > img {
  margin-top: 10px;
  height: 25px;
  width: 150px;
}

.form-text {
  color: #FFF;
}

#accomplish-box {
  padding-top: 4.5%;
  padding-left: 10.5%;
}

#user-accomplish {
  width: 87.5%;
}

#timer-title-box {
  display: flex;
  justify-content: space-between;
  padding-top: 4.5%;
  padding-left: 10.5%;
  margin-bottom: -17px;
}

#seconds {
  margin-right: 37.5%;
}

.user-input {
  background: none;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom-color: 5px solid #CBC9CF;
}

.timer-input-box {
  display: flex;
  justify-content: space-around;
  padding-top: -20%;
}

.input-minutes-line {
  padding-right: 11%;
  padding-left: 1.5%;
}

.input-seconds-line {
  padding-right: 16%;
}

#user-minutes {
  width: 180%;
}

#user-seconds {
  width: 180%;
}

#start-activity {
  background-color: #FFF;
  border-radius: 4px;
  border: none;
  height: 40px;
  width: 190px;
  padding-left: 7px;
  padding-right: 7px;
  float: right;
  margin-top: 50px;
  margin-right: 92px;
  font-size: 17px;
  color: #46424D;
}

aside {
  float: left;
  width: 34%;
  height: 100vh;
  background-color: #2B2733;
}

.no-logged-activities {
  font-size: 16px;
  text-align: center;
  color: #CBC9CF;
}

.activity-title {
  margin-left: 2.5%;
}

#no-logged-activity {
  margin-top: 10%;
}
