/* Composition information */
/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC
font-family: 'Montserrat', sans-serif; */

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  background-color: #46424D;
}

#page-title {
  color: #FFF;
}

main {
  background-color: #2B2733;
  border-right-color: 2px solid #46424D;
}

#new-activity {
  margin-top: 0;
}

.activity-title {
  color: #CBC9CF;
}


#user-activity-input {
  background-color: #46424D;
}

.activity-button {
  background-color: #46424D;
  border: 2px solid #FFF;
  color: #FFF;
  border-radius: 4px;
}

.activity-button > img {
  margin-top: 10px;
  height: 20px;
  width: 150px;
}

.form-text {
  color: #FFF;
}

.user-input {
  background: none;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom-color: 5px solid #CBC9CF;
}

aside {
  background-color: #2B2733;
  border-left-color: 2px solid #46424D;
}

#no-logged-activities {
  color: #CBC9CF;
}
