* {
  font-family: 'Arimo', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
}

body, aside {
  background-color: #2B2733;
}

header,
main,
.activity-presenter,
.create-new-activity-view,
.timer-presenter-view,
.user-activity-input-view,
.create-new-activity-box,
.chosen-timer,
.circle,
.log-activity-button,
.category-box,
.timer-title-box,
.timer-input-box,
.activity-button-box,
aside,
.minutes-seconds,
.past-activities-box,
.past-activities,
.category-color-box {
  display: flex;
}

header,
.create-new-activity-box,
.circle,
.log-activity-button {
  justify-content: center;
}

.activity-presenter,
.create-new-activity-view,
.timer-presenter-view,
.user-activity-input-view,
.chosen-timer,
aside,
.past-activities {
  flex-direction: column;
}

header,
.past-activities-box,
.create-new-activity-view,
.timer-presenter-view,
.user-activity-input-view,
.activity-button,
.past-activities-box {
  background-color: #46424D;
}

.create-new-activity-box,
.chosen-timer,
.circle,
.log-activity-button {
  align-items: center;
}

.page-title,
.activity-title,
.chosen-activity,
.start,
.start-time,
.category-choices,
.activity-button,
.form-text,
.user-input,
.past-activities-box {
  color: #FFF;
}

.create-new-activity-button,
.log-activity-button,
.start-activity {
  background-color: #FFF;
}

.create-new-activity-button,
.past-activities-paragraphs {
  text-align: center;
}

.create-new-activity-view,
.timer-presenter-view,
.user-activity-input-view,
.past-activities-box {
  box-shadow: 5px 5px 5px #26222D;
}

.create-new-activity-view,
.timer-presenter-view,
.user-activity-input-view,
.create-new-activity-button,
.log-activity-button,
.activity-button,
.start-activity,
.past-activities-box,
.category-color-bar {
  border-radius: 5px;
}

.create-new-activity-button,
.start,
.log-activity-button,
.start-activity {
  border: 0;
}

.create-new-activity-button,
.log-activity-button,
.start-activity {
  color: #46424D;
}

main {
  height: 100vh;
}

.new-activity {
  margin-left: 23px;
}

.activity-presenter {
  width: 65%;
  border-right: 3px solid #46424D;
}

.create-new-activity-view,
.timer-presenter-view,
.user-activity-input-view {
  margin: 0 auto;
  height: 78.5%;
  width: 95%;
}

.create-new-activity-box {
  margin-top: 95px;
}

.create-new-activity-button {
  height: 40px;
  width: 350px;
  font-size: 17px;
  padding-left: 30px;
  padding-right: 30px;
}

.chosen-timer {
  margin-top: 5%;
}

.chosen-activity {
  font-size: 26px;
  font-weight: lighter;
  margin-bottom: 0;
}

.start {
  font-size: 26px;
  background: none;
}

.disabled {
  opacity: .25;
}

.start-time {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 100px;
  font-weight: black;
  font-family: 'Arimo';
}

.circle {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  background: #46424D;
}

.purple {
  border: 3px solid #C278FD;
}

.green {
  border: 3px solid #B3FD78;
}

.red {
  border: 3px solid #FD8078;
}

.purple-bar {
  background-color: #C278FD;
}

.green-bar {
  background-color: #B3FD78;
}

.red-bar {
  background-color: #FD8078;
}

.log-activity-button {
  font-size: 17px;
  height: 40px;
  width: 250px;
  margin-top: 40px;
}

.select-category {
  padding-top: 5%;
  padding-left: 10.5%;
}

.category-box {
  justify-content: space-evenly;
}

.category-choices {
  font-size: 19px;
}

.button-title {
  font-size: 16px;
  margin-top: 3px;
}

.activity-button {
  border: 2px solid #FFF;
  margin-bottom: 18px;
}

.activity-button > img {
  display: inherit;
  margin-top: 10px;
  height: 25px;
  width: 150px;
}

.accomplish-box {
  padding-left: 10.5%;
}

.user-accomplish {
  width: 87.5%;
}

.timer-title-box {
  justify-content: space-between;
  padding-left: 10.5%;
}

.seconds-text {
  margin-right: 37.5%;
}

.user-input {
  background: none;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom-color: 5px solid #CBC9CF;
}

.timer-input-box {
  justify-content: space-around;
  padding-top: -20%;
}

.input-minutes-line {
  padding-right: 11%;
  padding-left: 1.5%;
}

.input-seconds-line {
  padding-right: 16%;
}

.user-minutes,
.user-seconds {
  width: 180%;
  margin-bottom: 10px;
}

.activity-button-box {
  flex-direction: row-reverse;
}

.start-activity {
  height: 40px;
  width: 190px;
  padding-left: 7px;
  padding-right: 7px;
  float: right;
  margin-top: 10px;
  margin-right: 92px;
  font-size: 17px;
}

aside {
  width: 34.5%;
}

.past-activities {
  margin-left: 23px;
}

.past-activities-paragraphs {
  font-size: 16px;
  color: #CBC9CF;
  margin-bottom: 0;
  margin-top: 1.5%;
}

.activity-title {
  margin-left: 2.5%;
}

.study-click {
  border-color: #B3FD78;
  color: #B3FD78;
}

.meditate-click {
  border-color: #C278FD;
  color: #C278FD;
}

.exercise-click {
  border-color: #FD8078;
  color: #FD8078;
}

.selection-error-box {
  margin-top: -15px;
  margin-left: 88px;
}

.minutes-seconds {
  flex-direction: row;
}

.seconds-error {
  margin-left: 200px;
}

.error-message {
  color: #EFB7EC;
}

.error-message > .triangle {
  height: 15px;
  width: 40px;
}

.scroll-box {
  max-height: 80%;
  overflow-y: scroll;
}

.past-activities-box {
  padding: 2%;
  width: 88%;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.past-activities {
  width: 98%;
}

.category-header {
  margin-top: 0px;
  font-weight: 900;
}

.logged-timer {
  justify-content: flex-start;
  margin-top: -10px;
  font-size: 110%;
  font-weight: 100;
}

.activity-description {
  margin-top: -5px;
  font-weight: 100;
}

.category-color-box {
  justify-content: flex-end;
  align-items: flex-start;
}

.category-color-bar {
  height: 32px;
  width: 5px;
}

.hidden {
  display: none;
}

.visibility {
  visibility: hidden;
}
